.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #142f54;
  color: white;
}

.nav-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.nav-links a,
.logout-button {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.logout-button:hover {
  text-decoration: underline;
}
